body {
  background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/cracks_1.png") repeat transparent 0 0; }

.zgfm-calendar-box {
  background: #eeeeee;
  width: 300px;
  display: block;
  color: #fff;
  font-weight: bold; }

.zgfm-calendar-row {
  width: 100%;
  clear: both; }

.zgfm-calendar-bl {
  display: inline; }

.zgfm-calendar-header {
  background: #87236F;
  padding: 5px; }

.zgfm-calendar-header-left {
  width: 30%; }

.zgfm-calendar-header-left span {
  cursor: pointer; }

.zgfm-calendar-header-middle {
  width: 60%;
  text-align: center;
  display: inline-block; }

.zgfm-calendar-header-right {
  width: 30%; }

.zgfm-calendar-header-right span {
  float: right;
  cursor: pointer; }

.zgfm-calendar-days {
  width: 100%;
  position: relative; }

.zgfm-calendar-days span {
  background: #fff;
  color: #000;
  width: 14.285%;
  height: 20px;
  text-align: center;
  padding: 4px 0px;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  cursor: pointer;
  display: inline-block; }

#zgfm-container {
  margin: 50px auto;
  width: 400px; }

.zgfm-calendar-week {
  background: #498A4A;
  clear: both; }

.zgfm-calendar-week span {
  color: #fff;
  width: 14.285%;
  height: 20px;
  text-align: center;
  padding: 4px 0px;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  display: inline-block; }

.zgfm-calendar-weekend {
  background: #FF8800 !important; }

.zgfm-calendar-cur-day {
  background: #FED790 !important; }

.zgfm_btn {
  background: #34d99c;
  background-image: linear-gradient(to bottom, #34d99c, #2d804e);
  border-radius: 28px;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 6px;
  text-decoration: none; }

.zgfm_btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none; }

.zgfm_btn2 {
  cursor: pointer;
  font-size: 16px; }

.zgfm-rgdatepicker-input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; }

.zgfm-overlay-box {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 3px -2px 4px #aaa;
  height: 272px;
  left: 0px;
  padding: 20px;
  position: relative;
  top: 0px;
  width: 617px; }

.zgfm-overlay-box-arrow {
  border-bottom: 20px solid #eeeeee;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  left: 20px;
  position: absolute;
  top: -18px;
  width: 0; }

.zgfm-overlay-container {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: auto; }

.zgfm-overlay-box-container {
  display: inline-block;
  margin: 4px; }

.zgfm-overlay-box-header {
  width: 100%;
  clear: both; }

.zgfm-overlay-box-date1 {
  display: inline-block;
  width: 50%; }

.zgfm-overlay-box-date2 {
  display: inline-block;
  width: 50%; }

.zgfm-overlay-box-options {
  clear: both;
  display: inline-block;
  text-align: left;
  width: 100%; }

.zgfm-overlay-box-options .zgfm_btn2 {
  display: inline-block;
  float: right; }

.zgfm-calendar-sel-day {
  color: #000;
  display: inline-block;
  font-size: 21px;
  font-weight: bold; }

#zgfm-result-content {
  margin-bottom: 50px;
  height: auto;
  background: #ccc; }

.zgfm-content-show-result {
  float: left;
  margin-right: 60px; }

.zgfm-content-show-rpicker {
  float: left; }

.zgfm-calendar-in-range {
  background: #FCE8C2 !important; }

/*# sourceMappingURL=style.css.map */
